.fancyBorder {
  border-radius: 11% 89% 16% 84% / 81% 24% 76% 19%;
}
.fancyBorder1 {
  border-radius: 60% 40% 80% 20% / 54% 43% 57% 46%;
}
.fancyBorder2 {
  border-radius: 26% 74% 15% 85% / 54% 54% 46% 46%;
}
